<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
  </head>
  <body style="text-align: center">
    <h1>Just a Vercel Testing</h1>
    <% if(locals.day) {%>
    <h1>Today Date is : <%= day %></h1>
    <% } else {%>
    <h1>Today is null.</h1>
    <% } %>
  </body>
</html>
